<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container be-detail-container">

    
    <div class="row">
        <div class="notify" *ngIf="msg">
                <div class="alert alert-{{msg}}" role="alert">{{msg_text}}</div>
            </div>
        <div class="col-sm-6 col-sm-offset-3">
            <br>
            <img src="https://cdn2.iconfinder.com/data/icons/luchesa-part-3/128/SMS-512.png" class="img-responsive" style="width:200px; height:200px;margin:0 auto;"><br>
            
            <h1 class="text-center">Verify your mobile number</h1><br>
            <p class="lead" style="align:center"></p><p> Thanks for visiting us. An OTP has been sent to your Mobile Number. Please enter the 4 digit OTP below for Successful Registration</p>  <p></p>
        <br>
       
            <div class="otp-content">
                <div class="sendotp">                    
                <div class="form-group col-sm-8">
                   <span style="color:red;"></span>   
                   <input type="text" class="form-control" name="phone" placeholder="Enter your 10 digit phone number XXXXXXXXX" required="" #phone>
                </div>
                <button class="btn btn-primary  pull-right col-sm-3" (click)="addPhone(phone.value)">Get OTP</button>
                </div>

                <div class="verifyotp" >                    
                    <div class="form-group col-sm-8">
                       <span style="color:red;"></span>   
                       <input type="text" class="form-control" name="otp" placeholder="Verify 4 digit OTP XXXX" #otp>
                    </div>
                    <button class="btn btn-primary  pull-right col-sm-3" (click)="verify(otp.value)">Verify</button>
                    </div>
              </div>
        <br><br>
        
        </div>
    </div>        
</div>

